ul{
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}


body{
    font-family: 'Josefin Sans', 'Noto sans TC', sans-serif;
    letter-spacing: 0.02em;
    font-weight: 700;
}

.navbar{
    height: 64px;
    box-sizing: border-box;
    z-index: 4;
}

.banner{
    background-image: url(../banner/banner-bg.png);
    .container{
        padding-top: 127px;
        padding-bottom: 160px;
        a{
            text-decoration: none;
            color: #363636;
        }
        .an-rounded1, .an-rounded2{
            border-radius: 24px;
            max-width: 440px;
            height: 448px;
            transition: .5s;
            position: relative;
            &:hover{
                transform: translateY(-15px);
            }
            .item{
                margin-top: -34px;
                &:hover{
                    opacity: 1;
                }
                opacity: .5;
                line-height: 35px;
                .cover{
                    height: 70px;
                    position: absolute;
                    left: 0;
                    bottom: 52px;
                    z-index: 1;
                }
                .an-bg-circle{
                    margin: 24px auto 0;
                    width: 120px;
                    height: 120px;
                    position: absolute;
                    left: 50%;
                    bottom: -54px;
                    margin-left: -60px;
                    z-index: -1;
                }
                .lo{
                    margin-top: 24px;
                }
                .lo2{
                    display: none;
                }
                .highlight{
                    position: absolute;
                    right: -30px;
                    top: -50px;
                    display: none;
                }
            }
        }
        .an-cross{
            line-height: 448px;
        }
    }
}

.map{
    box-sizing: border-box;
    border-radius: 40px;
    .container{
        padding: 60px 0px;
        .pic{
            padding: 12px;
            box-sizing: border-box;
            max-width: 636px;
            max-height: 420px;
            iframe{
                width: 100%;
                height: 396px;
            }
        }
        .content{
            margin-top: 40px;
            font-weight: 400;
            line-height: 1.875;
            span{
                font-weight: 700;
            }
        }
    }

}

.space{
    padding-top: 80px;
    >.title{
        text-align: center;
        margin-top: 80px;
    }
    .hard-ware{
        h4{
            margin-top: 60px;
        }
        .item{
            margin-top: 48px;
            .pic{
                max-width: 510px;
                box-sizing: border-box;
            }
            div{
                &:nth-child(n+2){
                    font-weight: 400;
                }
                span{
                    font-weight: 700;
                }
            }

        }
    }
    .soft-ware{
        margin-top: 84px;
        .item{
            padding: 0 38px;
            max-width: 400px;
            margin-top: 28px;
            .content div{
                &:last-child{
                    font-weight: 400;
                }
            }
        }
    }
}

.gallery{
    margin-top: 80px;
    .gallery-scroll{
        overflow-x: scroll;
        &::-webkit-scrollbar{
            display: none;
        }

    }
    li {
        &:nth-child(n+2){
            margin-left: 24px;
        }
    }   
      
}


//   @keyframes gallery {
//     0% {
//       -webkit-transform: translateX(0);
//               transform: translateX(0);
//     }
//     25% {
//         -webkit-transform: translateX(500px);
//                 transform: translateX(500px);
//       }
//     50% {
//     -webkit-transform: translateX(1000px);
//             transform: translateX(1000px);
//     }
//     75% {
//     -webkit-transform: translateX(1500px);
//             transform: translateX(1500px);
//     }
//     100% {
//         -webkit-transform: translateX(2000px);
//                 transform: translateX(2000px);
//         }
//   }



.active {
    scroll-snap-type: unset;
}


.fee{
    height: 1093px;
    margin-top: 80px;
    box-sizing: border-box;
    .col-md-10{
        .promotion{
            margin-top: 60px;
            position: relative;
            height: 70px;
            >div{
                position: absolute;
                left: 90px;
                top: 16px;
                z-index: 2;
            }
            >img{
                position: absolute;
                left: 70px;
                top: 0;
            }
            .title{
                margin-top: 37px;
            }
        }
        .content{
            font-weight: 400;
            span{
                font-weight: 700;
            }
        }
        .row-cols-md-2{
            .select{
                max-width: 526px;
                height: 608px;
                margin-top: 36px;
                padding: 36px 80px 0 81px;
                border-radius: 24px;
                box-sizing: border-box;
                .cost{
                    padding: 40px 0;
                    max-width: 365px;
                }
                ul{
                    max-width: 365px;
                    margin-top: 28px;
                    margin-left: 36px;
                    display: table;
                    li{
                        &:nth-child(n+2){
                            margin-top: 16px;
                        }
                    list-style-image: url('../fee/ic-check-lg.svg');
                    }
                    span{
                        display: table-cell;
                        vertical-align: middle;
                    }
                }
            }
    
        }
    }
    
    .signup{
        height: 96px;
        margin-top: 40px;
        img{
            display: none;
            transition: .3s;
        }
        .title{
            transition: .3s;
        }
        &:hover{
            img{
                display: block;
            }
            .title{
                transform: translateX(-20px);
            }
        }
    }
}

footer{
    padding: 36px 0;
}

.title-accent{
    @include title-accent(#FFD887);
}

.content-accent{
    @include content-accent(#FFD887);
}

.box-shadow1{
    box-shadow: 8px 8px #BFC9F0;
}

.box-shadow2{
    box-shadow: 8px 8px #EEE5FF;
}

@media (max-width: 1027px){
    .banner{
        .container{
            padding: 60px 0;
            .col-md-2{
                display: none;
            }
            .an-rounded2{
                margin-top: 46px;
            }
            .an-rounded1, .an-rounded2{
                max-width: 294px;
                height: 134px;
                padding: 24px 0 24px 24px;
                a{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                }
                .item{
                    margin-top: 0px;
                    .sub-title{
                        width: 100%;
                    }
                    img{
                        width: 48px;
                        height: 48px;
                    }
                    .content{
                        display: none;
                    }
                    .lo{
                        display: none;
                    }
                    .lo2{
                        display: block;
                        position: absolute;
                        top: 37px;
                        right: -30px;
                    }
                    .cover{
                        bottom: 42px;
                    }
                    .an-bg-circle{
                        width: 80px;
                        height: 80px;
                        left: 314px;
                        top: -28px;
                        transform: rotate(-90deg);
                    }
                    .highlight{
                        right: 264px;
                        top: -5px;
                        transform: rotateX(-90deg);
                    }
                }
            }
        }
    }

    .map{
        .container{
            padding: 36px 48px;
            .pic{
                iframe{
                    width: 100%;
                    height: 308px;
                }
            }
        }
    }

    .space{
        .soft-ware{
            .item{
                margin-top: 28px;
                display: flex;
                padding: 0px;
                img{
                    width: 48px;
                    height: 48px;
                }
                .content{
                    text-align: left;
                }
            }
        }
    }


    .gallery{
        margin-top: 40px;
        img{
            width: 332px;
            height: 240px;
        } 
        
        .gallery-scroll{
            width: 332px;
        }
    }

    .fee{
        margin-top: 36px;
        .col-md-10{
            .promotion{
                >div{
                    position: absolute;
                    left: 10px;
                    top: 12px;
                    z-index: 2;
                    font-size: 14px;
                    box-sizing: content-box;
                }
                img{
                    &:last-child{
                        display: absolute;
                        left: 0;
                        top: 0;
                    }
                }
            }
            .row-cols-md-2{
                overflow-x: scroll;
                &::-webkit-scrollbar{
                    display: none;
                    }
                .select{
                    max-width: 333px;
                    height: 500px;
                    padding: 32px 31px 32px 32px;
                }
                ul{
                    li{
                        &:nth-child(n+2){
                            margin-top: 12px;
                        }
                    }
                    margin-top: 16px;
                    max-width: 270px;
                    &:nth-child(n+2){
                        margin-top: 12px;
                    }
                }
            }
        }
    }

}